{% extends "weblog/base.html" %}
{% load staticfiles thumbnail %}

{% block main-content %}
<h1>Posts List</h1>	

{% for post in posts %}
	<article>
		<h2><a href="{% url "weblog:detail-post" post.slug %}">{{ post.title }}</a></h2>

		<div class="row">
			<div class="group1 col-sm-6 col-md-6">				
				<span class="glyphicon glyphicon-tags"> </span> {{ post.tags }}
			</div>
			<div class="group2 col-sm-6 col-md-6">				
				<span class="glyphicon glyphicon-time"></span> <span class="text-info">{{ post.created }}</span>
			</div>

		<hr>		
		
		
		 {% if post.image %}
		 	{% thumbnail post.image 780x200 crop as thumb %}	
		 	<img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" class="img-responsive thumbnail" alt="{{ post.image_alt }}" />		 	
		 {% endif %}
				
		
		<br />
		{% autoescape off %}	
			<div class="post">
				<p class="lead">
					{{ post.content|truncatechars:350 }}
				</p>
			</div> 
		{% endautoescape %}	


		<p class="text-right">
			<a href="{% url "weblog:detail-post" post.slug %}" class="text-right">
				continue reading...
			</a>
		</p>

		<hr>
	</article>
{% empty %}	
	<p class="warning">No posts available:</p>
{% endfor %}

<!-- pager -->


{% endblock main-content %}